source ~/.vim-commons

nnoremap <CR> o<ESC>
nnoremap <C-CR> O<ESC>

nmap gD :action GotoImplementation<CR>

" Highlighted yank
set highlightedyank

if !exists('##TextYankPost')
  nmap y <Plug>(highlightedyank)
  xmap y <Plug>(highlightedyank)
  omap y <Plug>(highlightedyank)
endif

